<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"/>
    <title>About</title>
</head>
<body>
    <div>
        <main>
          <h1>ABOUT THEM:</h1>
          <p>Let me introduce you Set...</p>
          <p>Found on a cardbox when he was just one month old, his hobby is get napped with his daddy</p>
          <img width="500" height="500" src="img/img2.jpg" alt="Set napped">
          <p>Let's meet Señor Trau!</p>
          <p>Trau is a big black hairy hole, he always supervise his daddy while he works</p>
          <img width="500" height="500" src="img/img5.JPG" alt="Trau supervisor">
          <div><a href="/">Back home</a></div>
        </main>
      </div>    
</body>
</html>