<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"/>
    <title>Gallery</title>
</head>
<body>
    <div>
        <main>
          <h1>CHECK SOME FANCY MOMENTS CAPTURED</h1>
          <div>
          <p>Sexy Set:</p>
          <img width="500" height="500" src="img/img4.jpg" alt="sexy Set">
          </div>
          <div>
          <p>Brothers of different mum:</p>
          <img width="500" height="500" src="img/img1.JPG" alt="Brothers">
          </div>
          <div>
          <p>Demon DOG!!</p>
          <img width="500" height="500" src="img/img3.jpg" alt="Brothers">
          </div>
          <a href="/">Back home</a>
        </main>
      </div>    
</body>
</html>